Hello,

The following is a summary of ${headers.brokerName}:

Active State           : ${headers.summaryBackup}
Total Messages Added   : ${headers.totalMessagesAdded}
Total Messages Ack'd   : ${headers.totalMessagesAckd}
Uptime                 : ${headers.uptime}
Storage Usage          : ${headers.diskStoreUsage}
Connections            : ${headers.connections}
Total Connections      : ${headers.totalConnections}

Address Stats

#foreach($queueSummary in ${body})
Queue Name           : $queueSummary.queueName
------------------------------
Consumer Count       : $queueSummary.consumerCount
Message Added        : $queueSummary.messageAdded
Message Acknowledged : $queueSummary.messageAcknowledged
Message Count        : $queueSummary.messageCount

#end

Enjoy!